services:
  db:
    image: postgres:17.6
    restart: always
    ports:
      - '5450:5432'
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    container_name: test_postgres_sql
    volumes:
      - ./postgres:/var/lib/postgresql/data
      - ./config.sql:/docker-entrypoint-initdb.d/config.sql
